<div>
  <div style="max-width: 200px; float:left;">
    <div style="float:left">
      <div>
        <div style="padding: 10px;">
          <%= render("new_sticky") %>
        </div>
      </div>
      <div><hr>
      </div>
      <div>Members
      </div>
      <div style="max-width: 140px;">
        <div style="display: inline; margin: 2px">
          <img src="http://gravatar.com/avatar/2fe381b816b40a33ac7f5e646e5f6efb?size=40" class="avatar"/>
        </div>
        <div style="display: inline; margin: 2px">
          <img src="http://gravatar.com/avatar/2fe381b816b40a33ac7f5e646e5f6efb?size=40" class="avatar"/>
        </div>
        <div style="display: inline; margin: 2px">
          <img src="http://gravatar.com/avatar/2fe381b816b40a33ac7f5e646e5f6efb?size=40" class="avatar"/>
        </div>
        <div style="display: inline; margin: 2px">
          <img src="http://gravatar.com/avatar/2fe381b816b40a33ac7f5e646e5f6efb?size=40" class="avatar"/>
        </div>
        <div style="display: inline; margin: 2px">
          <img src="http://gravatar.com/avatar/2fe381b816b40a33ac7f5e646e5f6efb?size=40" class="avatar"/>
        </div>
      </div>
    </div>
    <div style="float:right; min-height: 500px; border-left: 2px solid #808080;">
    </div>
  </div>
  <div style="max-width: 400px; float:left;">
    <div style="float:left">
      <div style="text-align: center">TODO
      </div>
      <div><hr>
      </div>
      <div>
        <div style="padding: 10px;">
          <%= render("sticky") %>
        </div>
      </div>
    </div>
    <div style="float:right; min-height: 500px; border-left: 2px solid #808080;">
    </div>
  </div>
  <div style="max-width: 400px; float:left;">
    <div style="float:left">
      <div style="text-align: center">Working
      </div>
      <div><hr>
      </div>
      <div>
        <div style="padding: 10px;">
          <%= render("sticky") %>
        </div>
      </div>
    </div>
    <div style="float:right; min-height: 500px; border-left: 2px solid #808080;">
    </div>
  </div>
  <div style="max-width: 400px; float:left;">
    <div style="float:left">
      <div style="text-align: center">Review
      </div>
      <div><hr>
      </div>
      <div>
        <div style="padding: 10px;">
          <%= render("sticky") %>
        </div>
        <div style="padding: 10px;">
          <%= render("sticky") %>
        </div>
      </div>
    </div>
    <div style="float:right; min-height: 500px; border-left: 2px solid #808080;">
    </div>
  </div>
  <div style="max-width: 400px; float:left;">
    <div style="float:left">
      <div style="text-align: center">QA
      </div>
      <div><hr>
      </div>
      <div>
        <div style="padding: 10px;">
          <%= render("sticky") %>
        </div>
      </div>
    </div>
    <div style="float:right; min-height: 500px; border-left: 2px solid #808080;">
    </div>
  </div>
  <div style="max-width: 400px; float:left;">
    <div style="float:left">
      <div style="text-align: center">Done
      </div>
      <div><hr>
      </div>
      <div>
        <div style="padding: 10px;">
          <%= render("sticky") %>
        </div>
      </div>
    </div>
    <div style="float:right; min-height: 500px; border-left: 2px solid #808080;">
    </div>
  </div>
</div>