<p id="notice"><%= notice %></p>

<p>
  <b>Details:</b>
  <%= @sticky.details %>
</p>

<p>
  <b>Archived:</b>
  <%= @sticky.archived %>
</p>

<p>
  <b>Column:</b>
  <%= @sticky.column.name %>
</p>

<p>
  <b>Owners:</b>
  <% @sticky.owners.each do |owner| %>
    <%= owner.name %> <br />
  <% end %>
</p>

<%= link_to 'Edit', edit_sticky_path(@sticky) %> |
<%= link_to 'Back', stickies_path %>
